@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: black;
    width: auto;
}

.container {
    height: auto;
    width: 1024px;
    margin: 0 auto;
}

.menu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.menu li {
    list-style: none;
    padding-left: 20px;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.menu ul a:hover {
    color: #79b4a9;
}

.menu>a {
    font-weight: bold;
    align-items: center;
    display: block;
}

.color--logo {
    color: #24ba9f;
}

/* Tutaj hoover menu */

nav>ul {
    background-color: #000;
    margin-left: 20px;
}

ul {
    list-style: none;
    color: #fff;
    padding: 0;
}

ul li {
    position: relative;
}

ul li:hover .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    padding-top: 5px;
    left: 0;
    display: none;
}

.dropdown:before {
    top: 0;
    left: calc(50% - 5px);
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-bottom: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.dropdown li {
    background-color: #000;
}

/* Koniec hover menu */
.slider {
    width: auto;
    height: 410px;
    background-image: linear-gradient(white, #d1d0d8);
}

.slider ul li {
    display: flex;
}

.slider-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.first-row {
    color: #24ba9f;
    font-weight: 300;
    font-size: 70px;
    text-decoration: none;

}

.last-row {
    color: #24ba9f;
    font-weight: 300;
    font-size: 70px;
    padding-left: 80px;
    text-decoration: none;
}

.slider-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-content-title h2 {
    margin-top: 35px;
    font-size: 20px;
}

.slider-content img {
    margin-top: 30px;
}

.slider-content-title p {
    text-align: center;
    color: black;
    margin-top: 30px;
    align-content: center;
    font-weight: 300;
    line-height: 1.4;
}

.slider-content h2 {
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 2.3rem;

}

.slider-content-title a {
    margin-top: 45px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    background-color: #24ba9f;
    align-self: center;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.portfolio {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.first-picture {
    width: 328px;
    height: 228px;
    background-image: url("../images/box1_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.first-white-baner, .second-white-baner {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25%;
    background-color: rgba(253, 253, 253, 0.444);
    margin-top: 150px;
}
.first-white-baner p, .second-white-baner p {
    color: black;
    font-weight: 400;
    margin-left: 18px;
    margin-top: 13px;
}
.first-white-baner::before , .second-white-baner::before{
    content: "";
    width: 150px;
    height: 7px;
    background-color: #24ba9f;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    left: 14px;
    top: 32px;
}
.second-picture {
    width: 328px;
    height: 228px;
    background-image: url("../images/box2_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.portfolio-box h2{
    margin-left: 20px;
    margin-top: 12px;
}
.portfolio-box p{
    font-weight: 300;
    margin-top: 25px;
    margin-left: 15px;
    line-height: 1.3;
    margin-right: 20px;
}
.portfolio-box {
    border: 1px solid rgba(0, 0, 0, 0.192);
    width: 328px;
    height: 260px;
    z-index: 0;
    position: relative;
}
.portfolio-box h2::before{
    content: "";
    width: 150px;
    height: 7px;
    background-color: #24ba9f;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    left: 14px;
    top: 32px;
}

.price{
    margin-top: 50px;
    background-color: #f1f1f1;
    width: auto;
    height: 650px;
    position: relative;
}

.price-title{
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.492);
    font-size: 1.6rem;
    position: absolute
}
.price-title::before{
    content: "";
    width: 250px;
    height: 7px;
    background-color: #24ba9f;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 32px;
}

.offer-box{
    display: flex;
    z-index: 0;
    justify-content: space-between;
    
}

/* 
 Te trzy boksy które masz w tej sekcji powinny
 być stylowane jedną klasą.
*/
.box {

}

.first-box{
    border: 1px solid rgba(0, 0, 0, 0.192);
    background-color: #f9f9f9;
    width: 308px;
    height: 420px;
    z-index: 0;
    display: absolute;
    margin-top: 130px; 
}
.first-box h2{
    color: #24ba9f;
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 35px;
}
.circleOne{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.192);
    background-color: white;
    position: relative;
    z-index: 1;
    top: -420px;
    /* Takie coś śmiga */
    left: calc(50% - 20px);
}

.circle_two{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.192);
    position: relative;
    z-index: 2;
    top: 9px;
    left: 10px;
}


.first-circle p {
    font-size: 2.9rem;
    color: rgba(0, 0, 0, 0.292);
    margin-left: 23px;
    margin-top: 25px;
}
.first-circle{
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}


.first-circle .priceOne::after{
    content: "99";
    font-size: 1rem;
    z-index: 1;
    position: relative;
    left: 0px;
    top: -28px;
}
.first-circle p:nth-child(2) {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.292);
    margin-left: 17px;
    margin-top: 6px;
}
.first-box p:nth-child(3){
    background-color: #e4e4e4;
    width: auto;
    height: 30px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.first-box p:nth-child(4){
    background-color: #f1f1f1;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}

.first-box p:nth-child(5){
    background-color: #24ba9f;
    width: 100px;
    color: white;
    border-radius: 10%;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;
    margin-top: 90px;
}
/* Second Box*/
.second-box{
    border: 1px solid #24ba9f;
    background-color: #24ba9f;
    width: 308px;
    height: 420px;
    z-index: 0;
    display: absolute;
    margin-top: 130px; 
}
.second-box h2{
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 35px;
}
.circleOne-two{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #24ba9f;
    position: relative;
    z-index: 1;
    top: -420px;
    left: 128px;
}

.circletwo-two{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: white;;
    position: relative;
    z-index: 2;
    top: 9px;
    left: 10px;
}


.two-circle p {
    font-size: 2.7rem;
    color: #24ba9f;
    margin-left: 22px;
    margin-top: 25px;
}
.two-circle{
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}


.two-circle p:first-child::after{
    content: "99";
    font-size: 1rem;
    z-index: 1;
    position: relative;
    left: 0px;
    top: -28px;
}

.two-circle p:nth-child(2) {
    font-size: 1rem;
    color: #24ba9f;
    margin-left: 17px;
    margin-top: 6px;
}
.second-box p:nth-child(3){
    background-color: #e4e4e4;
    width: auto;
    height: 30px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.second-box p:nth-child(4){
    background-color: #f1f1f1;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.second-box p:nth-child(5){
    background-color: #e4e4e4;;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}

.second-box p:nth-child(6){
    background-color: white;
    width: 100px;
    color: #24ba9f;
    border-radius: 10%;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;
    margin-top: 60px;
}
/* Third Box */


.third-box{
    border: 1px solid rgba(0, 0, 0, 0.192);
    background-color: #f9f9f9;
    width: 308px;
    height: 420px;
    z-index: 0;
    display: absolute;
    margin-top: 130px; 
}
.third-box h2{
    color: #24ba9f;
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 35px;
}
.circleOne-third{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.192);
    background-color: white;
    position: relative;
    z-index: 1;
    top: -420px;
    left: 128px;
}

.circle_two-third{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.192);
    position: relative;
    z-index: 2;
    top: 9px;
    left: 10px;
}


.third-circle p {
    font-size: 2.7rem;
    color: rgba(0, 0, 0, 0.292);
    margin-left: 13px;
    margin-top: 25px;
}
.third-circle{
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}


.third-circle p:first-child::after{
    content: "00";
    font-size: 1rem;
    z-index: 1;
    position: relative;
    left: 0px;
    top: -28px;
}

.third-circle p:nth-child(2) {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.292);
    margin-left: 17px;
    margin-top: 6px;
}
.third-box p:nth-child(3){
    background-color: #e4e4e4;
    width: auto;
    height: 30px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.third-box p:nth-child(4){
    background-color: #f1f1f1;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.third-box p:nth-child(5){
    background-color: #e4e4e4;;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}
.third-box p:nth-child(6){
    background-color: #f1f1f1;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.392);
    display: flex;
    align-items:center;
    justify-content:center;
}

.third-box p:nth-child(7){
    background-color: #24ba9f;
    width: 100px;
    color: white;
    border-radius: 10%;
    height: 30px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin: auto;
    margin-top: 30px;
}

